body {
  background-color: #0c0c0d;
}

#containerBitch {
  width: 700px;
  height: 300px;
  margin: 20px auto;
}

#answers {
  margin: 10px;
  margin-left: 50px;
}

.btn-secondary {
  margin: 10px;
}
